<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lexus.launcher">


    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"  />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <!-- Базовые разрешения для карт и погоды -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Разрешения для интеграции с телефоном (Зона 4) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Разрешение для управления Bluetooth (Статус в StatusBar) -->
    <!-- Разрешения для работы с Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Для Android 12 и выше (API 31+) необходимы новые runtime разрешения -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- Системные разрешения лаунчера (чтобы перекрывать системные бары, если нужно) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- Для Android Automotive OS (если магнитола поддерживает Car API для Зоны 3) -->
    <uses-permission android:name="android.car.permission.CAR_INFO" />
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN" />
    <uses-permission android:name="android.car.permission.CAR_SPEED" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAR_MILEAGE" />
    <uses-permission android:name="android.permission.CAR_SPEED" />
    <uses-permission android:name="android.permission.CAR_ENERGY" />
    <uses-permission android:name="android.permission.CAR_VENDOR_EXTENSION" />

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lexus OS"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Design.NoActionBar">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:screenOrientation="landscape"> <!-- Строго альбомная ориентация -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Все известные экшены китайских головных устройств -->
                <action android:name="android.intent.action.MCU_NOTIFICATION" />
                <action android:name="com.tw.mcu.status" />
                <action android:name="com.tw.mcu.data" />
                <action android:name="com.syu.canbus" />
                <action android:name="com.syu.ms.canbus" />
                <action android:name="com.suding.speedplay.action.CAN_DATA" />
                <action android:name="android.intent.action.CANBUS_DATA" />
                <action android:name="com.android.ecar.canbus" />
                <!-- Делаем приложение главным ЛАУНЧЕРОМ (Десктопом) системы -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Назначаем диалером -->
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL_BUTTON" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_PHONE" />
            </intent-filter>

        </activity>

        <!-- Регистрируем наш автомобильный ресивер -->
        <receiver android:name=".data.CanBusReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MCU_NOTIFICATION" />
                <action android:name="com.syu.canbus" />
                <action android:name="com.tw.mcu.status" />
            </intent-filter>
        </receiver>

        <!-- Добавляем службу прослушивания медиа-сессий -->
        <service
            android:name=".data.MediaNotificationListener"
            android:label="Lexus Музыкальный Контроллер"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".data.LexusAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
    </application>
</manifest>